# ******************************************************************************
# Based on Github's awesome .gitignore templates
# See: https://github.com/github/gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# ******************************************************************************
# Custom

# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
